<div class="flex flex-col text-center">
      <h1 class="font-medium">Latest</h1>
      <%@blogposts.each do |blog|%>
          <div class="text-lg font-normal"><%=link_to blog.title, blog, class: "no-underline hover:underline"%></div>
          <p><%=blog.body%></p>
        <%end%>
</div>